<!--
 Copyright (C) 2023 Jiri Skoda <jiri.skoda@student.upce.cz>
 
 This file is part of b22l-skoda-bvwa1-semestral-project.
 
 b22l-skoda-bvwa1-semestral-project is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 2 of the License, or
 (at your option) any later version.
 
 b22l-skoda-bvwa1-semestral-project is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with b22l-skoda-bvwa1-semestral-project.  If not, see <http://www.gnu.org/licenses/>.
-->

<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/water.css" type="text/css" rel="stylesheet" media="all">
    <link href="/styles/colors.css" type="text/css" rel="stylesheet" media="all">
    <link href="/styles/colors.dark.css" type="text/css" rel="stylesheet" media="all and (prefers-color-scheme: dark)">
    <link href="/styles/global.css" type="text/css" rel="stylesheet" media="all">
    <link href="/styles/global.mobile.css" type="text/css" rel="stylesheet" media="all and (max-width: 768px)">
    <link href="/styles/my.css" type="text/css" rel="stylesheet" media="all">
    <title>Kalendář</title>
</head>
<body>
    <header>
        <h1>
            Kalendář
            <span>
                <span><%= username %></span>
                <form action="/logout" method="POST" id="logout">
                    <a href="#">Odhlásit se</a>
                </form>
            </span>
        </h1>
        <hr>
    </header>
    <main>
        <section>
            <h2>
                <span>
                    <form action="<%= monthBefore %>" method="GET">
                        <button type="submit">&laquo;</button>
                    </form>
                    <form action="<%= dayBefore %>" method="GET">
                        <button type="submit">&lsaquo;</button>
                    </form>
                </span>
                <%= date %>
                <span>
                    <% if (showToday){ %>
                    <form action="<%= todayLink %>" method="GET">
                        <button type="submit">Dnes</button>
                    </form>
                    <% } %>
                    <form action="<%= dayAfter %>" method="GET">
                        <button type="submit">&rsaquo;</button>
                    </form>
                    <form action="<%= monthAfter %>" method="GET">
                        <button type="submit">&raquo;</button>
                    </form>
                </span>
            </h2>
            <% if (typeof(error) != "undefined") {%>
            <aside class="message error">
                <%= error %>
            </aside>
            <% } %>
            <% if (typeof(info) != "undefined") {%>
                <aside class="message info">
                    <%= info %>
                </aside>
            <% } %>
            <form method="GET" action="<%=newEventLink%>">
                <button type="submit">Nová událost</button>
            </form>
            <% if(hasEvents == false) {%>
                <p>Na tento den nejsou plánovány žádné události.</p>
            <% } else {%>
                <ul>
                    <% events.forEach(function(event){ %>
                        <li><%- event %></li>
                    <%})%>
                </ul>
            <% } %>
        </section>
        <section>
            <h2><%= calendarDate %></h2>
            <%- calendar %>
        </section>
    </main>
    <script src="/scripts/jquery-3.6.4.min.js"></script>
    <script src="/scripts/my.js"></script>
    <script src="/scripts/logout.js"></script>
</body> 
</html>
