<!--
 Copyright (C) 2023 Jiri Skoda <jiri.skoda@student.upce.cz>
 
 This file is part of b22l-skoda-bvwa1-semestral-project.
 
 b22l-skoda-bvwa1-semestral-project is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 2 of the License, or
 (at your option) any later version.
 
 b22l-skoda-bvwa1-semestral-project is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with b22l-skoda-bvwa1-semestral-project.  If not, see <http://www.gnu.org/licenses/>.
-->

<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./styles/water.css" type="text/css" rel="stylesheet" media="all">
    <link href="./styles/colors.css" type="text/css" rel="stylesheet" media="all">
    <link href="./styles/colors.dark.css" type="text/css" rel="stylesheet" media="all and (prefers-color-scheme: dark)">
    <link href="./styles/global.css" type="text/css" rel="stylesheet" media="all">
    <link href="./styles/global.mobile.css" type="text/css" rel="stylesheet" media="all and (max-width: 768px)">
    <title>Kalendář</title>
</head>
<body>
    <header>
        <h1>Kalendář</h1>
        <hr>
    </header>
    <main>
        <section>
            <h2>Registrace</h2>
            <% if (typeof(error) != "undefined") {%>
            <aside class="message error">
                <%= error %>
            </aside>
            <% } %>
            <form method="POST" action="./register?_method=PUT">
                <label>
                    Jméno
                    <input type="text" name="name" required <% if (typeof(name) != "undefined" && name != undefined){%> value="<%= name %>" <%} %>>
                </label>
                <label>
                    Příjmení
                    <input type="text" name="surname" required <% if (typeof(surname) != "undefined" && surname != undefined){%> value="<%= surname %>" <%} %>>
                </label>
                <label>
                    Uživatelské jméno
                    <input type="text" name="username" required <% if (typeof(username) != "undefined" && username != undefined){%> value="<%= username %>" <%} %>>
                </label>
                <label>
                    E-mail
                    <input type="email" name="email" required <% if (typeof(email) != "undefined" && email != undefined){%> value="<%= email %>" <%} %>>
                </label>
                <label>
                    Heslo
                    <input type="password" name="password" required>
                </label>
                <label>
                    Heslo znovu
                    <input type="password" name="passworda" required>
                </label>
                <a href="/login">Již zde máte účet?</a>
                <button type="reset">Zrušit</button>
                <button type="submit">Registrovat se</button>
            </form>
        </section>
    </main>
</body> 
</html>
